__pycache__/
*.py[cod]
*.so
*.pyc
# Virtualenv / environments
.env
.venv
env/
venv/

# Python packaging / build
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Logs / caches / coverage
*.log
.mypy_cache/
.pytest_cache/
.cache/
.ruff_cache/
.coverage
coverage.xml

# Editors / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Data / artifacts (adjust as needed)
*.pkl
*.npz
*.npy
*.hdf5
*.h5
*.ckpt
*.pt
*.pth
wandb/

# Media
*.mp4
*.mov
*.avi
*.png
*.jpg
*.jpeg
*.gif

serl_robot_infra/xarm_env/BestMan_Xarm/xArm-Python-SDK/
参考/
cankao/
serl_robot_infra/xarm_env/umi/start_process/launcher.pid
log.md
classifier_data/
classifier_ckpt/
demo_ckpt/

serl_robot_infra/xarm_env/umi/hdf5/
serl_robot_infra/xarm_env/umi/data_collector_opt/DATA

serl_robot_infra/umi/hdf5/
serl_robot_infra/umi/data_collector_opt/DATA

DATAraw/
demo_data/